<!DOCTYPE html>
<html lang="en" ng-app="kitchensink">

<head>
    <meta charset="utf-8">

    <title>Kitchensink | Fabric.js Demos</title>

    <link rel="stylesheet" href="http://fabricjs.com/css/master.css">
    <link rel="stylesheet" href="http://fabricjs.com/css/prism.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        pre {
            margin-left: 15px !important
        }
    </style>

    <!--[if lt IE 9]>
      <script src="../lib/excanvas.js"></script>
    <![endif]-->

    <script src="http://fabricjs.com/lib/prism.js"></script>
    <script>
        (function () {
            var fabricUrl = 'http://fabricjs.com/lib/fabric.js';
            if (document.location.search.indexOf('load_fabric_from=') > -1) {
                var match = document.location.search.match(/load_fabric_from=([^&]*)/);
                if (match && match[1]) {
                    fabricUrl = match[1];
                }
            }
            document.write('<script src="' + fabricUrl + '"><\/script>');
        })();
    </script>
    <script src="http://fabricjs.com/js/master.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
</head>

<body>
    <ul id="header">
        <li>
            <a href="http://fabricjs.com/">Home</a>
        </li>
        <li>
            <a href="http://fabricjs.com/demos">Demos</a>
        </li>
        <li>
            <a href="http://fabricjs.com/articles">Tutorial</a>
        </li>
        <li>
            <a href="http://fabricjs.com/docs">Docs</a>
        </li>
        <li>
            <a href="http://fabricjs.com/build">Custom Build</a>
        </li>
        <li>
            <a href="http://fabricjs.com/help">Support</a>
        </li>
        <li>
            <a href="http://fabricjs.com/test">Tests/Benchmarks</a>
        </li>
        <li>
            <a href="http://fabricjs.com/team">Team</a>
        </li>
        <li class="github secondary">
            <a class="github-button" href="https://github.com/fabricjs/fabric.js" data-size="large" data-show-count="true" aria-label="Star fabricjs/fabric.js on GitHub">Star</a>
        </li>
        <li class="twitter secondary">
            <a href="https://twitter.com/fabricjs" class="twitter-follow-button" data-show-count="true">Follow @fabricjs</a>
        </li>
    </ul>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        (function () {

            if (document.location.hostname === 'localhost') {
                var links = document.getElementById('header').getElementsByTagName('a');
                for (var i = 0, len = links.length; i < len; i++) {
                    // very retarted fix but fuck it
                    links[i].href = links[i].href.replace('fabricjs.com', 'localhost:4000');
                }
            }
            else {
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
            }
        })();
    </script>
    <script src="http://fabricjs.com/lib/jquery.js"></script>

        <script src="http://fabricjs.com/js/paster.js"></script>


        <link rel="stylesheet" href="http://fabricjs.com/css/kitchensink.css">

        <link href='http://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>


    <button class="btn btn-info btn-lg" id="send-json-to-render">Test json render</button>
<div id="result-from-render"></div>

<div id="bd-wrapper" ng-controller="CanvasControls" ng-app="kitchensink">
    <h2><span>Fabric.js demos</span> &middot; Kitchensink</h2>
    <div>
        <div style="position:relative;width:804px;float:left;" id="canvas-wrapper" tabindex="1" ng-press="activeKeyCanvas($event)">
            <canvas id="canvas" width="800" height="420" ></canvas>
        </div>

        <div id="commands" ng-click="maybeLoadShape($event)">

            <ul class="nav nav-tabs">
                <li><a href="#simple-shapes" data-toggle="tab">Simple</a></li>
                <li><a href="#object" ng-click="rerender()" data-toggle="tab">Object</a></li>
                <li class="active"><a href="#canvastab" data-toggle="tab">Canvas</a></li>
                <li><a href="#load-svg-pane" data-toggle="tab">Load SVG</a></li>
                <li><a href="#execute-code" data-toggle="tab">Execute</a></li>
                <li><a href="#json-inout" data-toggle="tab">JSON</a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="simple-shapes">
                    <p><strong>Background</strong>
                        <input type="file" id="imgLoader">
                        <div>
                            <label for="text-lines-bg-color">Background color:</label>
                            <input type="color" value="" id="bg-color" size="10" class="btn-object-action">
                        </div>
                        <button type="button" class="btn rect" onclick="rmBackground()">Remove background</button>
                    </p>
                    <p>Add
                        <strong>simple shapes</strong> to canvas:</p>
                    <p>
                        <button type="button" class="btn rect" ng-click="addRect()">Rectangle</button>
                        <button type="button" class="btn circle" ng-click="addCircle()">Circle</button>
                        <button type="button" class="btn triangle" ng-click="addTriangle()">Triangle</button>
                        <button type="button" class="btn line" ng-click="addLine()">Line</button>
                        <button type="button" class="btn polygon" ng-click="addPolygon()">Polygon</button>
                    </p>

                    <p>
                        <button class="btn" ng-click="addText()">Add text</button>
                        <button class="btn" ng-click="addIText()">Add Itext</button>
                        <button class="btn" ng-click="addTextbox()">Add textbox</button>
                        <button class="btn" ng-click="addPatternRect()">Add pattern rect</button>
                    </p>

                    <p>Add
                        <strong>images</strong> to canvas:</p>
                    <p>
                        <button type="button" class="btn image1" ng-click="addImage1()">Image 1 (pug)</button>
                        <button type="button" class="btn image2" ng-click="addImage2()">Image 2 (google)</button>
                        <button type="button" class="btn image3" ng-click="addImage3()">Image 3 (printio)</button>
                        <button type="button" class="btn image4" ng-click="addImage4()">Bunny video</button>
                    </p>

                    <p>Add
                        <strong>gradient-based shapes</strong> to canvas:</p>

                    <p>
                        <button class="btn shape" id="shape74">Gradient 1</button>
                        <button class="btn shape" id="shape66">Gradient 2</button>
                        <button class="btn shape" id="shape75">Gradient 3</button>
                        <button class="btn shape" id="shape148">Gradient 4</button>
                    </p>

                    <p>Add
                        <strong>arcs</strong> and misc to canvas:</p>

                    <p>
                        <button class="btn shape" id="shape104">Arc(s) 1</button>
                        <button class="btn shape" id="shape105">Arc(s) 2</button>
                        <button class="btn shape" id="shape106">Arc(s) 3</button>
                        <button class="btn shape" id="shape107">Arc(s) 4</button>
                    </p>
                    <p>
                        <button class="btn shape" id="shape103">Transformed paths</button>
                    </p>
                    <p>Add
                        <strong>Data</strong> to canvas:</p>
                    <p>
                        <button class="btn" ng-click="addDataText()">Add data text</button>
                        <button class="btn" ng-click="addDataImage()">Add data image</button>
                    </p>
                </div>

                <div class="tab-pane" id="object">
                    <p>
                        <button class="btn" onclick="addDataObject()">Add data to Object</button>
                        
                    </p>
                    <div class="object-controls" object-buttons-enabled="getSelected()">
                        <label for="color">Fill / Stroke / Background:</label>
                        <input type="color" style="width:40px" bind-value-to="fill" class="btn-object-action">
                        <input type="color" style="width:40px" bind-value-to="stroke" class="btn-object-action">
                        <input type="color" value="" id="text-bg-color" size="10" class="btn-object-action" bind-value-to="bgColor">
                        <br />
                        <label for="opacity">Opacity:</label>
                        <input value="100" type="range" bind-value-to="opacity" class="btn-object-action">
                        <br />
                        <label for="opacity">Stroke width:</label>
                        <input value="1" min="0" max="30" type="range" bind-value-to="strokeWidth" class="btn-object-action">
                        <br />
                        <div id="text-wrapper" ng-show="getText()">
                            <div id="text-controls">
                                <p>Text demo</p>
                                <textarea bind-value-to="text" rows="3" columns="80"></textarea>
                                <br />
                                <p>Data text</p>
                                <button class="btn btn-object-action" ng-click="add();">Add Item</button>
                                <p ng-repeat="x in this.data.text track by $index" >
                                    <textarea class="data-text" rows="3" columns="80" ng-keyup="changeText($index);">@{{x}}</textarea>
                                    <button class="btn btn-object-action" ng-click="del($index,'text');">Delete</button>
                                    <br />
                                </p>
                                <!-- <textarea class="data-text" bind-value-to="data" rows="3" columns="80"></textarea>
                                <button ng-click="addTextRow();">Add row</button>
                                <br /> -->
                                <label for="font-family" style="display:inline-block">Font family:</label>
                                <select id="font-family" class="btn-object-action" bind-value-to="fontFamily">
                                    <option value="arial">Arial</option>
                                    <option value="helvetica" selected>Helvetica</option>
                                    <option value="myriad pro">Myriad Pro</option>
                                    <option value="delicious">Delicious</option>
                                    <option value="verdana">Verdana</option>
                                    <option value="georgia">Georgia</option>
                                    <option value="courier">Courier</option>
                                    <option value="comic sans ms">Comic Sans MS</option>
                                    <option value="impact">Impact</option>
                                    <option value="monaco">Monaco</option>
                                    <option value="optima">Optima</option>
                                    <option value="hoefler text">Hoefler Text</option>
                                    <option value="plaster">Plaster</option>
                                    <option value="engagement">Engagement</option>
                                    <option value="test font">test font</option>
                                    <option value="UTM Facebook">UTM Facebook</option>
                                </select>
                                <br>
                                <label for="text-align" style="display:inline-block">Text align:</label>
                                <select id="text-align" class="btn-object-action" bind-value-to="textAlign">
                                    <option>Left</option>
                                    <option>Center</option>
                                    <option>Right</option>
                                    <option>Justify</option>
                                    <option>Justify-left</option>
                                    <option>Justify-right</option>
                                    <option>Justify-center</option>
                                </select>
                                <div>
                                    <label for="text-lines-bg-color">Background text color:</label>
                                    <input type="color" value="" id="text-lines-bg-color" size="10" class="btn-object-action" bind-value-to="textBgColor">
                                </div>
                                <div>
                                    <label for="text-font-size">Font size:</label>
                                    <input type="range" value="" min="1" max="120" step="1" id="text-font-size" class="btn-object-action" bind-value-to="fontSize">
                                </div>
                                <div>
                                    <label for="text-line-height">Line height:</label>
                                    <input type="range" value="" min="0" max="10" step="0.1" id="text-line-height" class="btn-object-action" bind-value-to="lineHeight">
                                </div>
                                <div>
                                    <label for="text-char-spacing">Char spacing:</label>
                                    <input type="range" value="" min="-200" max="800" step="10" id="text-char-spacing" class="btn-object-action" bind-value-to="charSpacing">
                                </div>
                                <button type="button" class="btn btn-object-action" ng-click="toggleBold()" ng-class="{'btn-inverse': isBold()}">
                                    Bold
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-italic" ng-click="toggleItalic()" ng-class="{'btn-inverse': isItalic()}">
                                    Italic
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-underline" ng-click="toggleUnderline()" ng-class="{'btn-inverse': isUnderline()}">
                                    Underline
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-linethrough" ng-click="toggleLinethrough()" ng-class="{'btn-inverse': isLinethrough()}">
                                    Linethrough
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-overline" ng-click="toggleOverline()" ng-class="{'btn-inverse': isOverline()}">
                                    Overline
                                </button>
                                <br />
                                <button type="button" class="btn btn-object-action" id="text-cmd-superscript" ng-click="setSuperScript()">
                                    Superscript
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-subscript" ng-click="setSubScript()">
                                    Subscript
                                </button>
                            </div>
                        </div>
                        <div id="text-wrapper" ng-show="getImage()">
                            <div id="text-controls">

                                <p>Image URL</p>
                                <button class="btn btn-object-action" ng-click="addImageItem();">Add Item</button>
                                <p ng-repeat="x in this.data.image track by $index">
                                    <textarea class="data-image">URL</textarea>
                                    <span class="input-group-btn">
                                        <input type="file" class="file" (change)="sendFormData($index)">
                                        <button type="button" class="btn btn-info btn-flat upload" ng-click="upload($index);" value="URL">Upload</button>
                                    </span>
                                    <button class="btn btn-object-action" ng-click="del($index,'image');">Delete</button>
                                    <!-- <button class="btn btn-object-action" ng-click="upload($index);">Upload</button> -->
                                    <br />
                                </p>
                            </div>
                        </div>
                        <div style="margin-top:10px;">
                            <button class="btn btn-lock btn-object-action" ng-click="setHorizontalLock(!getHorizontalLock())" ng-class="{'btn-inverse': getHorizontalLock()}">
                                {[ getHorizontalLock() ? 'Unlock horizontal movement' : 'Lock horizontal movement' ]}
                            </button>
                            <button class="btn btn-lock btn-object-action" ng-click="setVerticalLock(!getVerticalLock())" ng-class="{'btn-inverse': getVerticalLock()}">
                                {[ getVerticalLock() ? 'Unlock vertical movement' : 'Lock vertical movement' ]}
                            </button>
                            <br>
                            <button class="btn btn-lock btn-object-action" ng-click="setScaleLockX(!getScaleLockX())" ng-class="{'btn-inverse': getScaleLockX()}">
                                {[ getScaleLockX() ? 'Unlock horizontal scaling' : 'Lock horizontal scaling' ]}
                            </button>
                            <button class="btn btn-lock btn-object-action" ng-click="setScaleLockY(!getScaleLockY())" ng-class="{'btn-inverse': getScaleLockY()}">
                                {[ getScaleLockY() ? 'Unlock vertical scaling' : 'Lock vertical scaling' ]}
                            </button>
                            <button class="btn btn-lock btn-object-action" ng-click="setRotationLock(!getRotationLock())" ng-class="{'btn-inverse': getRotationLock()}">
                                {[ getRotationLock() ? 'Unlock rotation' : 'Lock rotation' ]}
                            </button>
                            <br>
                            <button class="btn btn-lock btn-object-action" ng-click="setLockScalingFlip(!getLockScalingFlip())" ng-class="{'btn-inverse': getLockScalingFlip()}">
                                {[ getLockScalingFlip() ? 'Unlock scaling flip' : 'Lock scaling flip' ]}
                            </button>
                        </div>

                        <div style="margin-top:10px">
                            <p>
                                <span style="margin-right: 10px">Origin X: </span>
                                <label>
                                    Left
                                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="left" bind-value-to="originX">
                                </label>
                                <label>
                                    Center
                                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="center" bind-value-to="originX">
                                </label>
                                <label>
                                    Right
                                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="right" bind-value-to="originX">
                                </label>
                                <label>
                                    0.3
                                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="0.3" bind-value-to="originX">
                                </label>
                                <label>
                                    0.5
                                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="0.5" bind-value-to="originX">
                                </label>
                                <label>
                                    0.7
                                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="0.7" bind-value-to="originX">
                                </label>
                                <label>
                                    1
                                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="1" bind-value-to="originX">
                                </label>
                            </p>
                            <p>
                                <span style="margin-right: 10px">Origin Y: </span>
                                <label>
                                    Top
                                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="top" bind-value-to="originY">
                                </label>
                                <label>
                                    Center
                                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="center" bind-value-to="originY">
                                </label>
                                <label>
                                    Bottom
                                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="bottom" bind-value-to="originY">
                                </label>
                                <label>
                                    0.3
                                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="0.3" bind-value-to="originY">
                                </label>
                                <label>
                                    0.5
                                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="0.5" bind-value-to="originY">
                                </label>
                                <label>
                                    0.7
                                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="0.7" bind-value-to="originY">
                                </label>
                                <label>
                                    1
                                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="1" bind-value-to="originY">
                                </label>
                            </p>
                            <p>
                                <label>
                                    Cache:
                                    <input type="checkbox" name="object-caching" class="btn-object-action" bind-value-to="objectCaching">
                                </label>
                                <label>
                                    No scaling cache:
                                    <input type="checkbox" name="no-scale-cache" class="btn-object-action" bind-value-to="noScaleCache">
                                </label>
                                <br />
                                <label>
                                    Controls:
                                    <input type="checkbox" name="has-controls" class="btn-object-action" bind-value-to="hasControls">
                                </label>
                                <label>
                                    Trasparent corners:
                                    <input type="checkbox" name="transparent-corners" class="btn-object-action" bind-value-to="transparentCorners">
                                </label>
                                <label>
                                    Borders:
                                    <input type="checkbox" name="has-borders" class="btn-object-action" bind-value-to="hasBorders">
                                </label>
                                <label>
                                    Centered Rotation:
                                    <input type="checkbox" name="centered-rotation" class="btn-object-action" bind-value-to="centeredRotation">
                                </label>

                            </p>
                        </div>

                        <div style="margin-top:10px;">
                            <button id="send-backwards" class="btn btn-object-action" ng-click="sendBackwards()">Send backwards</button>
                            <button id="send-to-back" class="btn btn-object-action" ng-click="sendToBack()">Send to back</button>
                        </div>

                        <div style="margin-top:4px;">
                            <button id="bring-forward" class="btn btn-object-action" ng-click="bringForward()">Bring forwards</button>
                            <button id="bring-to-front" class="btn btn-object-action" ng-click="bringToFront()">Bring to front</button>
                        </div>

                        <div style="margin-top:10px;">
                            <button id="gradientify" class="btn btn-object-action" ng-click="gradientify()">
                                Gradientify
                            </button>
                            <button id="shadowify" class="btn btn-object-action" ng-click="shadowify()">
                                Shadowify
                            </button>
                            <button id="patternify" class="btn btn-object-action" ng-click="patternify()">
                                Patternify
                            </button>
                            <button id="clip" class="btn btn-object-action" ng-click="clip()">
                                Clip
                            </button>
                            <button id="play" class="btn btn-object-action" ng-click="play()">
                                Play
                            </button>
                            <br />
                            <button id="patternfy-repeatX" class="btn btn-object-action" ng-click="setPatternStyle('repeat')">
                                Pattern repeat
                            </button>
                            <button id="patternfy-repeatX" class="btn btn-object-action" ng-click="setPatternStyle('repeat-x')">
                                Pattern repeat-x
                            </button>
                            <button id="patternfy-repeatX" class="btn btn-object-action" ng-click="setPatternStyle('repeat-y')">
                                Pattern repeat-y
                            </button>
                            <button id="patternfy-repeatX" class="btn btn-object-action" ng-click="setPatternStyle('no-repeat')">
                                Pattern repeat-none
                            </button>
                            <br />
                            <button id="resize-filter" class="btn btn-object-action" ng-click="addResizeFilter()">
                                Add Resize filter
                            </button>
                            <button id="invert-filter" class="btn btn-object-action" ng-click="addInvertFilter()">
                                set Invert filter
                            </button>
                            <button id="invert-filter" class="btn btn-object-action" ng-click="addContrastFilter()">
                                set Contrast filter
                            </button>
                        </div>
                        <div id="cacheInspector">
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="canvastab">
                    <div id="global-controls">
                        <p>
                            <label for="step-key">Khoảng cách khi di chuyển bằng phím mũi tên</label>
                            <input type="text" id="step-key" value="1">
                        </p>
                        <p id="complexity">
                            Canvas complexity (number of paths):
                            <strong>{[ canvas.complexity() ]}</strong>
                        </p>
                        <p>
                            Rasterize canvas to
                            <button class="btn btn-success" id="rasterize" ng-click="rasterize()">
                                Image
                            </button>
                            <button class="btn btn-success" id="rasterize" ng-click="rasterize3x()">
                                Image 3X multiplied
                            </button>
                            <button class="btn btn-success" id="rasterize-svg" ng-click="rasterizeSVG()">
                                SVG
                            </button>
                            <button class="btn btn-success" id="rasterize-json" ng-click="rasterizeJSON()">
                                JSON
                            </button>
                        </p>
                        <p>
                            <button class="btn btn-danger clear" ng-click="confirmClear()">Clear canvas</button>
                            <button class="btn btn-object-action" id="remove-selected" ng-click="removeSelected()">
                                Remove selected object/group
                            </button>
                        </p>
                        <p>
                            <label for="canvas-background-picker">Canvas background:</label>
                            <input type="color" bind-value-to="canvasBgColor">
                        </p>
                        <p>
                            <label>
                                Enable HIDPI (retina) scaling:
                                <input type="checkbox" name="enable-retina" bind-value-to="enableRetinaScaling">
                            </label>
                            <label>
                                Skip offscreen rendering:
                                <input type="checkbox" name="enable-retina" bind-value-to="skipOffscreen">
                            </label>
                            <br />
                            <label>
                                Preserve stacking:
                                <input type="checkbox" name="preserve-object-stacking" bind-value-to="preserveObjectStacking">
                            </label>
                            <label>
                                Controls above overlay:
                                <input type="checkbox" name="controls-abobe-overlay" bind-value-to="controlsAboveOverlay">
                            </label>
                        </p>
                    </div>
                    <div style="margin-top:10px;" id="drawing-mode-wrapper">

                        <button id="drawing-mode" class="btn btn-info" ng-click="setFreeDrawingMode(!getFreeDrawingMode())" ng-class="{'btn-inverse': getFreeDrawingMode()}">
                            {[ getFreeDrawingMode() ? 'Exit free drawing mode' : 'Enter free drawing mode' ]}
                        </button>

                        <div id="drawing-mode-options" ng-show="getFreeDrawingMode()">
                            <label for="drawing-mode-selector">Mode:</label>
                            <select id="drawing-mode-selector" bind-value-to="drawingMode">
                                <option>Pencil</option>
                                <option>Circle</option>
                                <option>Spray</option>
                                <option>Pattern</option>

                                <option>hline</option>
                                <option>vline</option>
                                <option>square</option>
                                <option>diamond</option>
                                <option>texture</option>
                            </select>
                            <br>
                            <label for="drawing-line-width">Line width:</label>
                            <input type="range" value="30" min="0" max="150" bind-value-to="drawingLineWidth">
                            <br>
                            <label for="drawing-color">Line color:</label>
                            <input type="color" value="#005E7A" bind-value-to="drawingLineColor">
                            <br>
                            <label for="drawing-shadow-width">Line shadow width:</label>
                            <input type="range" value="0" min="0" max="50" bind-value-to="drawingLineShadowWidth">
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="load-svg-pane">
                    <textarea id="svg-console" bind-value-to="consoleSVG"></textarea>
                    <button type="button" class="btn btn-info" ng-click="loadSVG()">
                        Load as Group
                    </button>
                    <button type="button" class="btn" ng-click="loadSVGWithoutGrouping()">
                        Load without grouping
                    </button>
                </div>

                <div class="tab-pane" id="execute-code">
                    <textarea id="canvas-console" bind-value-to="console"></textarea>
                    <button type="button" class="btn btn-info" ng-click="execute()">Execute</button>
                </div>

                <div class="tab-pane" id="json-inout">
                    <div class="form-group {!! !$errors->has($errorKey) ?: 'has-error' !!}">


                        <div class="col-sm-12">

         
                            <textarea class="form-control " name="kitchensink" placeholder="" id="json-console" bind-value-to="consoleJSON"></textarea>
                            <button type="button" class="btn btn-info" ng-click="loadJSON()">
                                Load Canvas
                            </button>
                            <button type="button" class="btn btn-info" ng-click="saveJSON()">
                                Save Canvas
                            </button>

   

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div style="min-width: 800px; width: 800px;">
            rasterized canvas:<br />
            <img id="canvasRasterizer" /><br />
            svg canvas:<br />
            <div id="SVGRasterizer" style="display: inline-block" />
        </div>
    </div>
</div>

<!-- Modal edit data -->
<div class="modal fade" id="objectData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="addItem">Add Items</button>
            </div>
        </div>
    </div>
</div>

    <script src="http://fabricjs.com/lib/font_definitions.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        var consoleJSON = (
            '{"version":"2.3.6","objects":[]}'
        );
        var fabricJSON = jQuery.parseJSON(consoleJSON)
        
    </script>
        <script>
            var kitchensink = {};
            var canvas = new fabric.Canvas('canvas');
        </script>

        <script src="http://fabricjs.com/js/kitchensink/utils.js"></script>
        <script src="http://fabricjs.com/js/kitchensink/app_config.js"></script>
        <script src="js/controller.js"></script>

        <script>
    
    $(document).on('click', '#bd-wrapper button', function(e) {
        e.preventDefault();
    });
    (function() {


        function renderVieportBorders() {
            var ctx = canvas.getContext();

            ctx.save();

            ctx.fillStyle = 'rgba(0,0,0,0.1)';

            ctx.fillRect(
                canvas.viewportTransform[4],
                canvas.viewportTransform[5],
                canvas.getWidth() * canvas.getZoom(),
                canvas.getHeight() * canvas.getZoom());

            ctx.setLineDash([5, 5]);

            ctx.strokeRect(
                canvas.viewportTransform[4],
                canvas.viewportTransform[5],
                canvas.getWidth() * canvas.getZoom(),
                canvas.getHeight() * canvas.getZoom());

            ctx.restore();
        }
        canvas.on('object:selected', function(opt) {
            var target = opt.target;
            if (target._cacheCanvas) {

            }
        })


        canvas.on('mouse:wheel', function(opt) {
            var e = opt.e;
            if (!e.ctrlKey) {
                return;
            }
            var newZoom = canvas.getZoom() + e.deltaY / 300;
            canvas.zoomToPoint({
                x: e.offsetX,
                y: e.offsetY
            }, newZoom);

            renderVieportBorders();
            e.preventDefault();
            return false;
        });

        var viewportLeft = 0,
            viewportTop = 0,
            mouseLeft,
            mouseTop,
            _drawSelection = canvas._drawSelection,
            isDown = false;

        canvas.on('mouse:down', function(options) {
            if (options.e.altKey) {
                isDown = true;

                viewportLeft = canvas.viewportTransform[4];
                viewportTop = canvas.viewportTransform[5];

                mouseLeft = options.e.x;
                mouseTop = options.e.y;
                _drawSelection = canvas._drawSelection;
                canvas._drawSelection = function() {};
                renderVieportBorders();
            }
        });

        canvas.on('mouse:move', function(options) {
            if (options.e.altKey && isDown) {
                var currentMouseLeft = options.e.x;
                var currentMouseTop = options.e.y;

                var deltaLeft = currentMouseLeft - mouseLeft,
                    deltaTop = currentMouseTop - mouseTop;

                canvas.viewportTransform[4] = viewportLeft + deltaLeft;
                canvas.viewportTransform[5] = viewportTop + deltaTop;

                canvas.renderAll();
                renderVieportBorders();
            }
        });

        canvas.on('mouse:up', function() {
            canvas._drawSelection = _drawSelection;
            isDown = false;
        });

        var textItem = function (data , ind){
            return ''+
                '<div class="form-group">'+
                    '<div class="col-md-9">'+               
                        '<textarea class="form-control dataTextItem" ind="'+ ind +'">'+ data +'</textarea>'+
                    '</div>'+
                    '<div class="col-md-3" ind="'+ ind +'">'+
                        '<button class="btn btn-danger deleteItem">Delete item</button>'+
                    '</div>'+
                '</div>';
        }
        var imageItem = function (data , ind){
            return ''+
                '<div class="form-group">'+
                    '<label class="col-md-2 control-label" for="filebutton">Image Url</label>'+
                    '<div class="col-md-8">'+
                        '<div class="col-md-8">'+
                            '<input class="file imageFile" type="file" ind="'+ ind +'">'+
                        '</div>'+
                        '<div class="col-md-4">'+
                            '<button class="btn btn-info btn-flat saveImageItem">Save</button>'+
                        '</div>'+
                    '</div>'+
                    '<div class="col-md-12" ind="'+ ind +'">'+              
                        '<textarea class="form-control dataImageItem" ind="'+ ind +'">'+ data +'</textarea>'+
                        '<button class="btn btn-danger deleteItem">Delete</button>'+
                    '</div>'+
                '</div>';
        }

        $(document).on('click', '#addItem', function(event) {
            event.preventDefault();
            /* Act on the event */
            var activeObject = canvas.getActiveObject();

            if ('data' in activeObject) {
                var data  = activeObject.data;
                if (activeObject.type == 'textbox') {
                    data.text.push('Data Text'); 
                    var i = activeObject.data.text.length - 1;
                    setAttr('data' , data , activeObject);
                    console.log(data);
                    $('#objectData').find('.modal-body').append(textItem( activeObject.data.text[i] , i));
                
                }
                if (activeObject.type == 'image') {
                    data.image.push('Data Image Url'); 
                    var i = activeObject.data.image.length - 1;
                    setAttr('data' , data , activeObject);
                    $('#objectData').find('.modal-body').append(imageItem( activeObject.data.image[i] , i));
                }
            }
        });

        $(document).on('change', '.dataTextItem', function(event) {
            event.preventDefault();
            /* Act on the event */
            var activeObject = canvas.getActiveObject();
            if ('data' in activeObject) {
                var data  = activeObject.data;
                data.text[$(this).attr('ind')] = $(this).val();
                setAttr('data' , data , activeObject);
            }
        });

        $(document).on('change', '.dataImageItem', function(event) {
            event.preventDefault();
            /* Act on the event */
            var activeObject = canvas.getActiveObject();
            if ('data' in activeObject) {
                var data  = activeObject.data;
                data.image[$(this).attr('ind')] = $(this).val();
                setAttr('data' , data , activeObject);
            }
        });

        $(document).on('click', '.deleteItem', function(event) {
            event.preventDefault();
            /* Act on the event */
            var activeObject = canvas.getActiveObject();
            if ('data' in activeObject) {
                var data  = activeObject.data;
                var ind = $(this).parent().attr('ind');
                if (activeObject.type == 'textbox') {
                    data.text.splice(ind, 1);
                    setAttr('data' , data , activeObject);
                }
                if (activeObject.type == 'image') {
                    data.image.splice(ind, 1);
                    setAttr('data' , data , activeObject);
                }
                $(this).parent().parent().remove();
            }
        });

        fabric.util.addListener(document.getElementById('canvas-wrapper'), 'dblclick', function(options) {
            //console.log(options);
            var activeObject = canvas.getActiveObject();
            console.log(activeObject.data);
            if ('data' in activeObject) {
                if (activeObject.type == 'textbox') {
                    $('#objectData').find('.modal-title').html('Edit textbox :"' + activeObject.text + '"');
                    $('#objectData').find('.modal-body').html('');
                    for (var i = activeObject.data.text.length - 1; i >= 0; i--) {
                        $('#objectData').find('.modal-body').append(textItem( activeObject.data.text[i] , i));
                    }
                }
                if (activeObject.type == 'image') {
                    $('#objectData').find('.modal-title').html('Edit Image (' + canvas.getObjects().indexOf(activeObject) + ' )');
                    $('#objectData').find('.modal-body').html('');
                    for (var i = activeObject.data.image.length - 1; i >= 0; i--) {
                        $('#objectData').find('.modal-body').append(imageItem( activeObject.data.image[i] , i));
                    }
                }
                $('#objectData').modal('show');
            }
            
        });
        
        /*detect keypress to canvas : ex : arrow key input && delete key*/
        var STEP = 1;

        var Direction = {
          LEFT: 0,
          UP: 1,
          RIGHT: 2,
          DOWN: 3
        };

        fabric.util.addListener(document.getElementById('canvas-wrapper'), 'keydown', function(options) {
            
            options.preventDefault();
          /*if (options.repeat) {
            return;
          }*/
          STEP = ($("#step-key").val() > 0) ? parseInt($("#step-key").val()) : 1;
          var key = options.which || options.keyCode; // key detection
          if (key === 37) { // handle Left key
            moveSelected(Direction.LEFT);
          } else if (key === 38) { // handle Up key
            moveSelected(Direction.UP);
          } else if (key === 39) { // handle Right key
            moveSelected(Direction.RIGHT);
          } else if (key === 40) { // handle Down key
            moveSelected(Direction.DOWN);
          } else if(key === 46) {
            var activeObjects = canvas.getActiveObjects();
                canvas.discardActiveObject()
                if (activeObjects.length) {
                  canvas.remove.apply(canvas, activeObjects);
                }
          }
        });

        function moveSelected(direction) {
            var activeObject = canvas.getActiveObject();

          if (activeObject) {
            switch (direction) {
              case Direction.LEFT:

                activeObject.left -= STEP;
                break;
              case Direction.UP:
                activeObject.top -= STEP;
                break;
              case Direction.RIGHT:
                activeObject.left += STEP;
                break;
              case Direction.DOWN:
                activeObject.top += STEP;
                break;
            }
            activeObject.setCoords();
            canvas.renderAll();
            //console.log('selected objects was moved');
          }  else {
            console.log('no object selected');
          }

        }
    })();
    (function() {
        var mainScriptEl = document.getElementById('main');
        if (!mainScriptEl) return;
        var preEl = document.createElement('pre');
        var codeEl = document.createElement('code');
        codeEl.innerHTML = mainScriptEl.innerHTML;
        codeEl.className = 'language-javascript';
        preEl.appendChild(codeEl);
        document.getElementById('bd-wrapper').appendChild(preEl);
    })();
    (function() {
        fabric.util.addListener(fabric.window, 'load', function() {
            var canvas = this.__canvas || this.canvas,
                canvases = this.__canvases || this.canvases;

            canvas && canvas.calcOffset && canvas.calcOffset();

            if (canvases && canvases.length) {
                for (var i = 0, len = canvases.length; i < len; i++) {
                    canvases[i].calcOffset();
                }
            }
        });
    })();

    $(document).on('click', '#send-json-to-render', function(event) {
        event.preventDefault();
        console.log('sending..');
        var infoApp = {'app_id': 1 };
        var renderJson = 
        {
            "setting": {
                "storage" : "gcs",
                "key" : "test/fabric",
                "contentType": "image/jpg",
                "domainS3" : "https://s3.amazonaws.com/result.allquiz.net",
                "domainGcs" : "https://storage.cloud.google.com/result.allquiz.net"
            },
            "json": $('#json-console').val(),
            "width": 800,
            "height": 420,
            "info": infoApp,
            "accessKey": 15032017
        };
        //console.log(renderJson);
        $('#result-from-render').html('');
        $.ajax({
            url: 'http://142.93.91.50:3000',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(renderJson),
            success: function(data){
                console.log(data);
                $('#result-from-render').html('<pre>'+JSON.stringify(data)+'</pre>');
                if (data.success) {
                    $('#result-from-render').append('<img src="'+data.url+'?m='+new Date().getTime()+'" class="img-responsive"/>');
                }
            }
        })
        .done(function() {
            console.log("success send json");
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete send json");
        });
        
    });


</script>

</body>

</html>